/* Official VTM Red: rgb(118, 3, 26); */

.vtmvfive-dice-roller .roller__container {
    border: 10px solid var(--background-modifier-border);
    padding: 10 px;
}

/* Window Title */
.vtmvfive-dice-roller .roller__title {
	/* border: 5px solid rgb(118, 3, 26); */
    font-size: 24px;
    font-weight: bold;
    color: rgb(118, 3, 26);
    text-align: center;
}

/* Section Titles: "DicePool:", "Result Dice:" & "Hunger Dice:" */
.vtmvfive-dice-roller .roller__subTitle {
    color: white;
    font-size: 20px;
    line-height: 1;
    text-decoration: underline;
}

/* Most Text throughout the Window */
.vtmvfive-dice-roller .roller__text {
    color: white;
    font-size: 16px;
}

/* Hunger Text for input box */
.vtmvfive-dice-roller .roller__hungerText {
    color: rgb(205, 28, 24);
    font-size: 16px;
    font-weight: bold;
}

/* Buttons */
.vtmvfive-dice-roller .roller__input-button {
    color: white;
    border: none; /*solid 2px rgb(118, 3, 26);*/
    padding: 10px 10px 25px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

/* Clickable Dice Results: Symbols [𓋹 *𓋹* '𓋹' ⨂ ●] */
.vtmvfive-dice-roller .roller__regularDie-button {
	/* Reset button styles */
	background-color: black;
	border: none;
    width: 40px;
    height: 40px;
    padding: 1em;
    margin: 0 4px;
    cursor: pointer;

    /* Force vertical alignment */
    display: inline-flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    vertical-align: middle;

    /* Inherit text styling */
    color: white;
    /* text-align: center; */
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
}

/* Add a hover effect to indicate interactiveness */
.vtmvfive-dice-roller .roller__regularDie-button:hover {
    color:  rgb(118, 3, 26);
}
.vtmvfive-dice-roller .roller__regularDie-button.is-hover-disabled:hover {
    color: white;
    cursor: default;
}

/* Optional: Selected state for when clicked */
.vtmvfive-dice-roller .roller__regularDie-button.is-selected {
	border: solid 2px  rgb(118, 3, 26);
}

.vtmvfive-dice-roller .roller__hungerDie-button {
	/* Reset button styles */
	background-color:  rgb(118, 3, 26);
	border: none;
    width: 40px;
    height: 40px;
    padding: 1em;
    margin: 0 4px;

    /* Force vertical alignment */
    display: inline-flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    vertical-align: middle;

    /* Inherit text styling */
    color: white;
    /* text-align: center; */
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
}
